.stack-top {
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}

.home-bg {
  margin: auto;
  background-image: url("https://res.cloudinary.com/dfppytfle/image/upload/v1606138086/453f143ad31ed8482ebed9c4084b8059_tgpfh7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -90px;
  border: 2px transparent;
  width: 100%;
  height: 700px;
}

.div-side {
  border: 2px transparent;
  width: 600px;
  height: 50px;
}

.home-intro {
  margin-top: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 72px;
  text-align: left;
  text-shadow: 2px 2px grey;
}

.home-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: left;
  text-shadow: 2px 2px grey;
}

.home-job {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  text-align: left;
  text-shadow: 2px 2px grey;
}

.about {
  margin-bottom: 5%;
}
.about-pic {
  height: 150px;
  width: 145px;
  float: left;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills {
  margin-bottom: 5%;
}

.progress-div {
  text-align: left;
  padding: 10px;
}

.card-face {
  font-size: 94px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  #name {
    color: black;
  }
  #num-size {
    font-size: 64px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #name {
    color: black;
  }
  #num-size {
    font-size: 64px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #name {
    color: black;
  }
  #num-size {
    font-size: 64px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #name {
    color: black;
  }
  #num-size {
    font-size: 64px;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  #name {
    color: black;
  }
  #num-size {
    font-size: 56px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #name {
    color: black;
  }
  #num-size {
    font-size: 72px;
  }
}

hr.vertical {
  height: 100%;
  width: 0;
  border: 1px solid black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.img-contact {
  position: relative;
  text-align: center;
  color: white;
}

.top-center {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 200px;
  height: 200px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

mark {
  background-color: black;
  color: whitesmoke;
  position: relative;
  margin: 0.1em;
}
